   

    :root {
      --logo_width: 450px;
      --main-color: #F76B1C;;
      --error-color: #fe3c45;
      --hover-buy: #48995d;
      --hover-sell: #d9373f;
      --hover-info: #218bdf;
      --background-color: #13131d;
      --second-background: #1a1a26;
      --third-background: #23232e;        
  

      --fourth-background: #13131d;
      --package-border: #292936;
      --primary-text-color: #ffffff;
      --focus-text-color: #F76B1C;
      --secondary-text-color: #aeaeae;
      --cold-color: #FAD961;
      --green-button: #4da564;
      --light-green: #57b871;
      --disable-button: #428954;
      --font-family: Poppins, sans-serif;
      --tiny-font: 12px;
      --small-font: 14px;
      --medium-font: 16px;
      --big-font: 18px;
      --border-radius: 5px;

      --header-img: url("https://media.discordapp.net/attachments/1210206493723463720/1223674023146426580/wallpaperflare.com_wallpaper.jpg?ex=661ab63d&is=6608413d&hm=945b85fc6468294326fefda0d9b3f09f99e314f8cea1693c7b0e5543c810cf16&=&format=webp&width=924&height=520");
      --gradient-shadow: #d148413d;
      --height-image: 500px;
      --opacity-image: 0.2;
      --blur-image: 7px;
      --gift-color: #9747ff !important;
      --gift-background: rgba(151, 71, 255, 0.2588235294) !important;
      --gift-accent-color: #cca6ff !important;
      --gift-text-color: #ffffff !important;
    }
